.bckground-color{
    background-color: #FFFBF0;
}
button{
    color: white;
    border-radius: 10px;
    background-color: green;
}
.yellow-color{
    color: #FABE4C;
}
.my-font{
    font-size: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}